################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Hander
/Log
/pages
/Scripts
/ServicesConfig
Config.js
Web.config

# System logs
Logs/
*.log