################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Handler
/Logs
/pages
/Scripts
/ServicesConfig
/Upload
/css-old
Global.asax
Config.js
Web.config
logo.png

# System logs
Logs/
*.log