################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Handler
/Log
/pages
/Scripts
/ServicesConfig
/Upload
index.aspx
indexi.aspx
login.aspx
logout.aspx
Global.asax
Config.js
Web.config

# System logs
Logs/
*.log