<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <clear />
    <!--
    1. ConfigFileXml  : URL to XML config file
    2. AppLevel       : Param for each module
    3. SysLevel       : Param for all system
    -->
    <add key="ConfigFile" value="/csacmapi/ServicesConfig/ServiceSettings.config" />
    <add key="ValidAudience" value="http://localhost" />
    <add key="RootPath" value="/qtdh" />
    <!--<add key="USER" value="C92945235B9642A9B43650DDA1B0FD4E"/>-->
    <add key="RootPathUpload" value="/upload" />
    <add key="Logo" value="" />
    <add key="AfterAuthen" value="index.aspx" />
    <add key="ThresholdLoginFailed" value="5" />
    <add key="TimeResetLoginFailed" value="2" />
    <add key="PassResetDateOfExpired" value="1" />
    <add key="PassResetCodeLong" value="6" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1048576" maxQueryStringLength="2097151" requestValidationMode="2.0" executionTimeout="3600" targetFramework="4.5" />
    <compilation targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".Auth" loginUrl="/Login.aspx" timeout="1296000" cookieless="UseCookies" />
    </authentication>
    <httpModules>
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="AnonymousIdentification" />
    </httpModules>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="auto" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxUrl="65536" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: 6CF19842-044A-40C3-A476-27630CA63279-->