
table, th {
    text-align: center;
}



.txt {
    border: none;
    border-bottom: 1.5px dotted #000;
    width: 100%;
}

.table-hoadon td {
    font-size: 11pt;
    font-family: 'Times New Roman';
    border: 1px solid black;
}

.table-hoadon th {
    font-size: 11pt;
    font-family: 'Times New Roman';
}

.table-hoadon {
    width: 100%;
    border: 1px solid black;
}


.dropdown-menu {
    border-radius: 0px;
    margin: 1px 0 0;
}

table label {
    margin-bottom: 0px !important
}

/*AdminLTE.min.css*/
.control-sidebar-bg, .control-sidebar {
    transition: right 0.3s ease-in-out 0s;
    width: 50%;
    right: 0px;
    display: none;
}

.control-sidebar {
    background: #f4f4f4 !important;
}

.control-sidebar {
    padding-top: 0px !important;
}

.btn-box-tool {
    color: black;
}

.btn-user {
    color: #6388a8 !important;
    padding: 5px 0 !important;
}

    .btn-user:hover {
        color: #2f7dc1 !important;
    }

.nhomch-ten {
    font-size: 17px;
}

    .nhomch-ten:hover {
        cursor: pointer;
        background: #f7f7f7;
        background-color: #f7f7f7;
    }

.cauhoi-ten {
    font-weight: bold;
}

.action-selected-cauhoi {
    float: right;
    margin-top: -7px;
}

.action-selected-nhom {
    float: right;
    margin-top: -7px;
}

.selected-cauhoi:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

table input {
    border: none;
}

.ns-title {
    font-size: 16px !important;
}

.ns-value {
    font-size: 16px !important;
}

.activeOnSearch, .activeSelect {
    background-color: #f1f1f1;
}

#zoneMainContent fieldset {
    border: 1px solid #cfd4d8;
    margin: 0;
    min-width: 0;
    padding: 10px;
}

#zoneMainContent legend {
    color: black;
    border: none !important;
    /*border-bottom: 1px solid #cfd4d8 !important;*/
    opacity: 0.8;
    margin-bottom: 0px !important;
}


.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

td {
    vertical-align: middle !important;
}

.{
    margin-top: 3px;
    padding-right: 0px;
}

.fieldset {
    border: 1px solid #cfd4d8;
    margin: 0;
    min-width: 0;
    padding: 10px;
}

.legend {
    color: black;
    border: none !important;
    /*border-bottom: 1px solid #cfd4d8 !important;*/
    opacity: 0.8;
    margin-bottom: 0px !important;
}

.{
    background-color: #fff !important;
    float: left
}

.> .dropdown > .dropdown-menu {
    width: 100%;
    background-color: #e6e6e6;
    border: 0px
}

.colorcard {
    color: #009688
}

.pcard {
    font-size: 18px !important;
    line-height: 1.7 !important;
}

.pcard i {
    width: 30px;
}

.bg-aqua {
    background-color: #00c0ef;
}

.tr-bg {
    background: #f1f1f1 !important;
}

.row_add {
    text-align: left;
}

@media only screen and (max-width: 1365px) {
    #lblNangCao, #search_down {
        display: none;
    }
}

.btnChiTietKhoanThu, .btnChiTietKhoanThu, .actionThuTien_PhieuThu, .actionKhoiDongHoaDon, .anouChuaHoTro_PhieuThu {
    cursor: pointer;
}
.table-hoadon input {
    width: 100%;
    text-align: center;
}
.noco-hoadon {
    font-size: 37px;
    float: right;
    margin-top: -10px;
}

.trangthaiHS {
    width: 100px;
    border-radius: 0px;
    margin-top: -1px
}
.drop-sel {
    width: 100%;
    padding: 10px;
}

.box {
    margin-bottom: 7px;
}

.b8 {
    height: 0px;
}
#zoneSinhVien {
    font-size: 24px;
}
.overflowvible {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
}
.overflowvible:hover {
    overflow: visible;
}
.lbsymbolHD {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 0px;
    margin-top: 0;
}
.inputsotien {
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
    border: 1px #f1f1f1 solid;
}
.inputnoidung {
    text-align: left;
    border: 1px #f1f1f1 solid;
    height: 32px;
    width: 100%;
}
.activeLien {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #bbbbbb 0%, #efefef 100%) repeat scroll 0 0 !important;
}