.table-hoadon {
    text-align: center;
}

.table-hoadon td{
    font-size: 11pt;
    font-family: 'Times New Roman';
    border: 1px solid black;
}

.table-hoadon th {
    font-size: 11pt;
    font-family: 'Times New Roman';
    text-align: center;
}

.table-hoadon{
    width: 100%;
    border: 1px solid black;
}

.row_add {
    max-height: 25px;
    height: 25px;
    text-align: left;
}

.dropdown-menu {
    border-radius: 0px;
    margin: 1px 0 0;
}

table label {
    margin-bottom: 0px !important
}
table input {
    border: none;
}
.ns-title {
    font-size: 16px !important;
}

.ns-value {
    font-size: 16px !important;
}

.activeOnSearch, .activeSelect {
    background-color: #f1f1f1;
}

#zoneMainContent fieldset {
    border: 1px solid #cfd4d8;
    margin: 0;
    min-width: 0;
    padding: 10px;
}

#zoneMainContent legend {
    color: black;
    border: none !important;
    /*border-bottom: 1px solid #cfd4d8 !important;*/
    opacity: 0.8;
    margin-bottom: 0px !important;
}


    .fieldset {
        border: 1px solid #cfd4d8;
        margin: 0;
        min-width: 0;
        padding: 10px;
    }

    .legend {
        color: black;
        border: none !important;
        /*border-bottom: 1px solid #cfd4d8 !important;*/
        opacity: 0.8;
        margin-bottom: 0px !important;
    }

#zoneBienLaiHoaDon {
    padding-left: 20%
}
.btnChiTietKhoanThu, .btnChiTietKhoanThu, .actionThuTien_PhieuThu, .actionKhoiDongHoaDon, .anouChuaHoTro_PhieuThu{
    cursor: pointer;
}

.table-hoadon input {
    width: 100%;
    text-align: center;
}
.trangthaiHS {
    width: 100px;
    border-radius: 0px;
    margin-top: -1px
}
.progress{
    margin-bottom: 5px;
}
#zoneSinhVien{
    font-size: 24px
}
.inputsotien {
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
    border: 1px #f1f1f1 solid;
}

.inputnoidung {
    text-align: left;
    border: 1px #f1f1f1 solid;
    height: 32px;
    width: 100%;
}
@media only screen and (max-width: 1600px) {
    #lblNangCao{
        display: none;
    }
}
.lbsymbolHD {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.activeLien {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #bbbbbb 0%, #efefef 100%) repeat scroll 0 0 !important;
}