 /* -- Code 5/2/2025 -- */
 body{
     color: #333;
 }
 /* ------------------- */
 .fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, .fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fasl, .fasr, .fass, .fat {
   font-weight: 300 !important;
}
 .form-control {
     padding: 5px 12px !important;
     height: 38px !important;
     font-size: 15px !important;
     line-height: 38px !important;
     border-radius: 5px;
 }
 .btn {
     padding: 9px 15px 7.6px 15px !important;
     font-size: 15px !important;
     border-radius: 5px !important;
 }
 .select2-container--default .select2-selection--single {
     border: 1px solid #d2d6de !important;
     border-radius: 5px !important;
     padding: 12px 3px !important;
     height: 38px;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow b {
     border-color: #d2d6de transparent transparent transparent !important;
     border-width: 6px 5px 0 5px !important;
 }
 .select2-container--default .select2-selection--single .select2-selection__arrow {
     top: 6px !important;
     right: 8px !important;
 }
 .select2-container--default .select2-search--dropdown .select2-search__field {
     border: 1px solid #d2d6de !important;
     border-radius: 4px !important;
     height: 34px !important;
 }
 .select2-dropdown {
     background-color: white;
     border: 1px solid #d2d6de !important;
     border-radius: 5px;
     /* -webkit-box-shadow: 0 0 17px 0 rgba(130, 122, 122, 0.1); */
     /* box-shadow: 0 0 17px 0 rgba(130, 122, 122, 0.1); */
     -webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
     -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
     box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
 }
 .select2-container--open .select2-dropdown--below {
     border-top-left-radius: 5px !important;;
     border-top-right-radius: 5px !important;;
     padding: 5px !important;
     top: 2px !important;;
 }
 .btn-primary:hover {
     background-color: #fff !important;
     color:#4e8d42 !important;
     border: 1px solid #4e8d42 !important;
 }
 input:focus ,.select2-container--default .select2-selection--single:focus{
     border: 1px solid #3c8dee !important;
     box-shadow: none !important;
     font-size: 16px;
 }
 .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
     outline: 0px auto -webkit-focus-ring-color !important;
     outline-offset: -2px;
 }
 /*---------------------------*/
 .table{
     /*font-size: 14px !important;*/
 }
.table > thead > tr > td,
.table > thead > tr > th {
     border-color: #2A72C7FF !important;
     border-top: 1px solid #2A72C7FF !important;
    border-left: 1px solid #2A72C7FF !important;
    border-right: 1px solid #2A72C7FF !important;
 }
 .table-hover > tbody > tr:hover,.table-hover > tbody > tr:hover a {
     color: #fff !important;
     background-color: #3c8dee !important;
 }
 .table > tbody > tr > td,
 .table > tbody > tr > th,
 .table > tfoot > tr > td,
 .table > tfoot > tr > th
{
     border-color: #d1d1d1 !important;
     /*border:0px;*/
     vertical-align: middle !important;
 }
 .table > tbody > tr > td:first-child,
 .table > tbody > tr > th:first-child,
 .table > tfoot > tr > td:first-child,
 .table > tfoot > tr > th:first-child {
     border-left:1px solid #fff !important;
     font-weight: 400;
 }
 .table > tbody > tr > td:last-child,
 .table > tbody > tr > th:last-child,
 .table > tfoot > tr > td:last-child,
 .table > tfoot > tr > th:last-child{
     border-right:1px solid #fff !important;
 }
 thead {
     color: #fff !important;
     background: #3c8dee;
     font-weight: normal;
     /*border:1px solid #fff !important;*/
 }
 .table-bordered tbody tr:nth-of-type(odd) {
     background-color: #f8f8f8;
 }
 .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
     font-weight: 400 !important;
 }
 /* ---------Login---------- */
 .login-box, .register-box {
    padding: 10px 15px 10px 15px !important;
    border-radius: 15px !important;
}
.login-box, .register-box {
    /* background: #fff url(./../../Custom_V1/images/img-edu.jpg) top right no-repeat !important; */
    width: 1024px !important;
    position: relative;
    max-height: 680px;
    overflow: hidden;
}
.login-box::before,.register-box::before {
    background: #fff url(./images/img-edu.jpg) top right no-repeat !important;
    background-size: contain !important;
    /* object-fit: cover; */
    height: 100%;
    width: 800px;
    z-index: 0;
    top: 0px;
    right: 0px;
    position: absolute;
    display: block;
    content: "";
}
.login-box::after,.register-box::after{
    width: 430px;
    height: 100%;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
    top: 0px;
    left: 0px;
    border-radius: 15px 0 0 15px !important;
    z-index: 0;
}
.login-box .login-logo,.login-box .login-box-body ,.login-box .login-box-footer{
    width: 400px;
    z-index: 2;
    position: relative;
}
.login-page, .register-page {
    background: url(./images/bg_login_1.jpg) !important;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover  !important;
    background-repeat: no-repeat  !important;
}

.btn-google {
    border-radius: 90px !important;
    padding: 12px 20px 8px 20px !important;
    text-align: center;
    font-size: 16px !important;
    border-width: 0px !important;
    background: rgb(159,31,15);
    background: linear-gradient(90deg, rgba(159,31,15,1) 0%, rgba(221,75,57,1) 100%);
}
.btn-google:hover {   
    background: linear-gradient(90deg, rgba(221,75,57,1) 0%,rgba(159,31,15,1) 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.btn-social>:first-child {
    left: 15px !important;
    width: 40px !important;
    line-height: 44px !important;
    padding-right: 15px !important;
    border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    font-size: 1.4em;
    font-family: "Font Awesome 6 Brands";
}
.fa-google-plus:before {
    content: "\f0d5" !important;
}
.login-box-body .form-control {
    height: 38px;
    font-size: 16px !important;
}
.login-box-body .login-notify{
    padding: 0px 15px;
}

#cms_authenticate_do_login {
    padding: 12px 30px 10px 30px;
    font-size: 16px;
    border-radius: 6px;
    height: 44px;
    background: rgb(51,128,219);
    background: linear-gradient(90deg, rgba(51,128,219,1) 0%, rgba(0,212,255,1) 100%);
}
#cms_authenticate_do_login:hover {   
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(51,128,219,1) 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.login-box-body .col-xs-5 .form-control {
    height: 44px;
    font-size: 16px !important;
    border-radius: 90px !important;
    padding: 0px 40px !important;
    border: 1px solid #e9e9e9;   
    position: relative;
}
.login-box-body .col-xs-5:after {
    color: #3c8dee !important;
    content: "\f1ab" !important;
    position: absolute;
    top: 11px;
    left: 30px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    font-size: 18px;
    width: 20px;
    height: 20px;
    z-index: 22;
    display: block;
}
.login-box-footer {
    padding: 0px 20px 30px 20px !important;
    font-size: 16px;
    display: flex;
    Justify-content:space-between;
    /* flex-direction: row-reverse; */
}
.login-box-footer br{
    display: none;
}
.login-box-footer a b,.login-box-footer a strong {
    font-weight: 500 !important;
}
.login-box-footer a{
    color: #3c8dee;
}
.login-box-footer a:hover{
    color: #dd4b39;
}
.login-box, .register-box {
    width: 440px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2)  !important;
}
.icon-login {
    width: 86px !important;
    height: 86px !important;
    font-size: 44px !important;
    line-height: 75px !important;
}
.icon-login:before {
    content: "\f007" !important;
}
.social-auth-links {
    margin: 30px 0 20px 0px;
}
.login-box-msg span{
    font-weight: 700;
    text-transform: uppercase;
    color: #3c8dee !important;
}
.login-box-body .has-feedback,.has-feedback .form-control{
    position: relative;
    padding-left: 40px !important;
    margin-left: -20px;
    width: 105.66666666%;
}
.login-box-body .form-group.has-feedback:first-of-type::after{

    color: #3c8dee !important;
    content: "\f007" !important;
    position: absolute;
    top: 9px;
    left: 35px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    font-size: 18px;
    width: 20px;
    height: 20px;
    z-index: 22;
}
/* mật khẩu */
.login-box-body .form-group.has-feedback:nth-of-type(2):after{
    color: #3c8dee !important;
    content: "\f6f3" !important;
    position: absolute;
    top: 9px;
    left: 35px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    font-size: 18px;
    width: 20px;
    height: 20px;
    z-index: 22;
}
.login-box-body .col-xs-5,.login-box-body .col-xs-7{
    width: 100% ;
}
.login-box-body .pull-right {
    width: 100% !important;
    margin-top: 15px;
}
#cms_authenticate_do_login {
    border-radius: 90px !important;
}
.has-feedback .form-control {
    border: 1px solid #e9e9e9 !important;
    border-radius: 90px !important;
    height: 44px;
    line-height: 47px;
}
.icon-login {
    display: none !important;
}
 .fa-customer {
     color: #3c8dee !important;
 }
/* --------- end Login---------- */

.skin-blue .main-header .navbar {
    /* background-color: #4e8d42 !important; */
    /* background: rgb(51, 128, 219)  !important; */
    /* background: linear-gradient(90deg, rgba(51, 128, 219, 1) 0%, rgba(0, 212, 255, 1) 100%)  !important; */
    /*-webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);*/
    /*-moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);*/
    /*box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);*/
}
.list-group-a {
    color: #333 !important;
    opacity: .5;
}
/* ----main-sidebar--------------------- */
.skin-blue .main-header .logo {
    background-color:rgba(51,128,219,1) !important;
    border-bottom: 1px solid #4b96f0;
    border-top-right-radius: 30px !important;
    width: 280px;
}

.skin-blue .sidebar-form .btn, .skin-blue .sidebar-form input[type=text] {
    /* background-color:#2469bb !important; */
}
 .skin-blue .sidebar-form .btn {
     border-top-left-radius: 0 !important;
     border-bottom-left-radius: 0 !important;
 }
.main-header .logo {    
    height: 60px; 
    line-height: 60px;
}
.main-header .logo .logo-lg {
    text-align: left;
}
.main-header .navbar {   
    margin-left: 280px;
}
.main-header {
    background: #FFF none repeat scroll 0 0 !important;
}
.main-header .navbar .nav>li>a>.label {
    top: 6px !important;
    right: 6px !important;
    font-size: 11px !important;
    padding: 5px 7px 3px 7px !important;
    border-radius: 90px;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background: rgba(0, 0, 0, 0);
    color: #dd4b39;;
}
.main-sidebar {
     width: 280px;
    border-top-right-radius: 30px !important;
    background: rgb(27,67,145);
    background: linear-gradient(0deg, rgba(27,67,145,1) 0%, rgba(51,128,219,1) 100%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
}
 .main-sidebar:before {
     width: 280px;
     height: 1000px;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     background:url("./images/student.png");
 }
 @media (min-width: 768px) {
     .sidebar-collapse .main-sidebar {
         -webkit-transform: translate(-280px, 0);
         -ms-transform: translate(-280px, 0);
         -o-transform: translate(-280px, 0);
         transform: translate(-280px, 0);
     }
 }
.skin-blue .sidebar-form {
    border-radius: 6px !important;
    border: 0px solid #fff !important;
    margin: 20px 10px 10px 10px !important;
}
.sidebar-form .btn-flat i {
    font-size: 16px;
    margin-top: 4px;
    margin-right: 5px;
}
.pull-right-container .fa-angle-left {
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    padding-top: 4px;
    transform: rotate(180deg);
}
.treeview-menu>li .fa-angle-double-right {
    font-size: 11px;
}
 .sidebar-menu {
     margin: 0px 8px !important;
 }
 .sidebar-menu .treeview-menu .menu-open {
     background: rgba(36,105,187,1) ;
 }
 .skin-blue .sidebar-menu .treeview-menu > li.menu-open > a {
     color: #fdde15 !important;
 }
 .skin-blue .sidebar-menu .treeview-menu > li > a:active {
     color: #fff;
     background: #1b4391 none repeat scroll 0 0 !important;
 }
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #1b4391;
}
.main-header .sidebar-toggle:hover {
    background-color: #fff !important;
    color: #dd4b39 !important;
}
.skin-blue .sidebar-form .btn, .skin-blue .sidebar-form input[type=text] {
    height: 38px !important;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    border: 0px solid transparent !important;
}
.sidebar-form .form-control {
    padding: 5px 13px !important;
    height: 28px !important;
    font-size: 15px !important;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    margin-right: 12px;
    float: left;
    margin-bottom: 5px;
    margin-top: 3px;
    font-size: 17px;
    /*font-weight: 700 !important;*/
}
.skin-blue .sidebar-menu>li>a {
    font-size: 15px !important;
    line-height: 23px !important;
    color: rgba(255, 255, 255,0.8);
}
.skin-blue .sidebar-menu>li.active>a,
.skin-blue .sidebar-menu>li.menu-open>a{
    background: #205da4 !important;
     color: #fff !important;
    /*font-weight: 700;*/

}
 .skin-blue .sidebar-menu>li:hover>a {
     background: rgba(255, 255, 255, 0.1) !important;
     color: #fff;
 }
 .skin-blue .sidebar-menu > li > .treeview-menu {
     background:#1769c9  !important;
     /*border-bottom: 1px solid #205da4;*/
     border-bottom-left-radius: 6px !important;
     border-bottom-right-radius: 6px !important;
 }
 .skin-blue .sidebar-menu>li {
     border-radius: 10px;
 }
 .skin-blue .sidebar-menu > li.active > a,
 .skin-blue .sidebar-menu > li.menu-open > a,
 .skin-blue .sidebar-menu > li.active:hover > a,
 .skin-blue .sidebar-menu > li.menu-open:hover > a{
     background:#1662bb  !important;
     color: #fdde15 !important;
     border-radius: 6px;
 }
 .skin-blue .sidebar-menu > li:hover > a {
     background: rgba(32,93,164,0.3) !important;
     color: #fff !important;
     border-radius: 10px;
 }
 /*--*/
 .skin-blue .sidebar-menu > li > .treeview-menu {
     /*padding-bottom: 12px;*/
     /*padding-top: 6px;*/
     padding-left: 0;
 }
 /*.skin-blue .sidebar-menu > li > .treeview-menu{*/
 /*    display: none !important;*/
 /*}*/
 /*.skin-blue .sidebar-menu > li.menu-open > .treeview-menu{*/
 /*    display: block !important;*/
 /*}*/

 .skin-blue .sidebar-menu .treeview-menu > li > a:hover {
     color: #fdde15 !important;
     background: #1769c9  !important;
 }
 .skin-blue .sidebar-menu > li > .treeview-menu > li > a {
     font-size: 15px !important;
     padding: 6px 5px 6px 42px !important;
 }
 .menu-open {
     background: #1769c9  !important;
 }
 .skin-blue .sidebar-menu > li > .treeview-menu > li:last-child{
     padding-bottom: 15px;
 }
 .skin-blue .sidebar-menu > li > .treeview-menu > li:first-child{
     padding-top: 5px;
 }
 .skin-blue .sidebar-menu>li>.treeview-menu {
     margin: 0 0px !important;
 }
.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px !important;
    /* border-bottom: 1px solid #1b4391; */
}

 .skin-blue .sidebar-menu .treeview-menu > li > a {
     color: #fff !important;
 }
/* -----control-sidebar-app----------- */
.control-sidebar {
     right: -280px;
     width: 280px;
}
 .control-sidebar-bg {
     width: 280px;
     right: -280px;
 }
.control-sidebar-app .user-icon {
    background: #3c8dee !important;
    height: 36px;
    width: 36px;
    line-height: 37px;
    font-size: 20px;
}
 .control-sidebar-app .fa-app {
     font-size: 20px;
     width: 30px;
 }
 .control-sidebar-app .table > tbody > tr > td.fa-app{
     padding-left: 15px !important;
 }
 .control-sidebar-app .table > tbody > tr > td{
     border-color: #f1f1f1;
     padding-bottom: 7px !important;
     height: 60px;
 }
 .control-sidebar-app .table > tbody > tr > td{
     border-color: #f1f1f1;
     padding-bottom: 7px !important;
     padding-top: 10px !important;
     height: 60px;
 }
 .control-sidebar-app .table > tbody > tr > td.fa-app {
     padding-top: 3px !important;
 }
 .control-sidebar-app .table a{
     color: #333 !important;
     font-size: 16px;
 }
 .control-sidebar-app {
     box-shadow: 0px -10px 20px rgba(0, 0, 0, .15), 0 -10px 10px rgba(0, 0, 0, .12) !important;
     padding: 11px 0px 20px 0px !important;
 }
 .control-sidebar-app .fa-stack {
     width: 38px !important;
 }
.control-sidebar-app  .fa-app .fa-circle {
    display: none;
}
 .control-sidebar-app .table-hover > tbody > tr:hover {
     background: #fff !important;
     -webkit-box-shadow: 0px 0px 25px 0 rgba(69, 65, 78, .3);
     -moz-box-shadow: 0px 0px 25px 0 rgba(69, 65, 78, .3);
     box-shadow: 0px 0px 25px 0 rgba(69, 65, 78, .3);
 }
 .control-sidebar-app .table-hover > tbody > tr:hover .user-icon
 {
     background: #dd4b39 !important;
 }
 .control-sidebar-app .table-hover > tbody > tr:hover a{
     color:#dd4b39 !important;
     font-weight: bold;
     background-color: #fff !important;
 }
/* ------------------------------ */
.content-wrapper, .main-footer {
    margin-left: 280px ;
}
.content-wrapper {
    background-color: #e9e9e9 !important;
    padding: 15px 10px;
}
.content-wrapper .list-group-item {    
    background: #e9e9e9;
    border: 1px solid #e9e9e9 !important;
    padding: 0px 0px 10px 0px;
}
 .list-group{
     background: #e9e9e9 !important;
 }
 .search-app > input {
     background: transparent;
 }
 .input-group.search-app  .form-control:focus {
     border: 1px solid #f1f1f1 !important;
 }
/* -------main-header----------------------- */
.main-header .sidebar-toggle:before {
    content: "\f0c9" !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    font-family: "Font Awesome 6 Pro";
}
.navbar-custom-menu li .fa-th:before {
    content: "\f03a" !important;
}
/* ---navbar-custom-menu- */
.main-header {
    max-height: 60px !important;
}
.main-header .navbar-custom-menu, .main-header .navbar-right {
    margin-top: 4px;
}
.skin-blue .main-header .navbar .nav>li>a .fa {
    font-size: 22px;
}
.navbar-nav>.user-menu .user-image {
    width: 30px !important;
    height: 30px !important;
}
.navbar-nav>li>a {
    padding-bottom: 15px !important;
}
.skin-blue .main-header .navbar {
    background-color: #fff !important;
    border-bottom: 1px solid #e1e1e1;
}
.skin-blue .main-header .navbar .nav>li>.dropdown-toggle {
    line-height: 25px;
    padding-bottom: 8px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #1b4391;
}
/*------content------------------*/
 .content-wrapper,.content-header,.content {
     background-color: #E9E9E9 !important;
 }
 .content .zone-content {
     background: #fff;
     border-radius: 8px;
     overflow: hidden;
     -webkit-box-shadow: 0 0 17px 0 rgba(130, 122, 122, 0.1);
     box-shadow: 0 0 17px 0 rgba(130, 122, 122, 0.1);

     /*-webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);*/
     /*-moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);*/
     /*box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);*/
 }
 .content .zone-content .box.box-solid  {
     padding: 15px 12px 10px 12px;
     border-bottom: 1px solid #e1e1e1;
     /*background: #f9f9f9;*/
     /*border-top: 2px solid #fff;*/
     /* border-left: 3px solid #ffff; */
 }
 .content .zone-content .box.box-solid .box-header .box-title {
     font-weight: bold;
     color: #333;
 }
 .content .zone-content .box.box-solid .box-header .box-title i{
     /*font-weight: 700 !important;*/
     margin-right: 9px;
     float: left;
 }
 .content .zone-content .box-header.with-border {
      border-bottom:0px solid #f4f4f4 !important;
     /*margin-bottom: 5px;*/
 }
 .item-search {
     margin-right: 10px;
 }
 .btnSearch_KHDK:hover{
     background: #3c8dee !important;
     color: #fff;
 }
 #changetblKHDK .select2-container--default .select2-selection--single {
     border: 1px solid #d2d6de !important;
     border-radius: 3px !important;
     padding: 9px 3px !important;
     height: 32px;
 }
 #changetblKHDK .select2-container--default .select2-selection--single .select2-selection__arrow {
     top: 3px !important;
     right: 5px !important;
 }
 .table-bordered .btn {
     padding: 3.5px 10px !important;
 }
 .table-bordered .btn-default {
     background:none !important;
 }
 .table-bordered .btn-default:hover {
     color: #3c8dee !important;
 }
 .zone-pag-headertblKHDK{
     padding-top: 20px;
 }
 .change-tblKHDK{
     margin-bottom: 10px;
 }
 /*-------------------------*/
 .compact-theme li:first-child a, .compact-theme li:first-child span {
     border-left: 1px solid #d2d6de !important;
     border-radius: 0 0 0 0;
 }
 .compact-theme .active .current {
     background: #f1f1f1 !important;
     color: #3c8dee;
     font-weight: bold;
 }
 .simple-pagination li:first-child {
     border-left: 1px solid #e1e1e1 !important;
 }
 .compact-theme .active .current.prev , .compact-theme .active .current.next{
     background: #fff !important;
     color: #333;
     border-left: 1px solid #e1e1e1 !important;
     margin-left:0px !important;
 }
 .compact-theme a, .compact-theme span {
     float: left;
     color: #333;
     font-size: 14px;
     line-height: 32px !important;
     font-weight: normal;
     text-align: center;
     border: 1px solid #e1e1e1 !important;
     border-left: none;
     min-width: 32px;
     padding: 0 7px;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0) !important;
     background: #fff;
     background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
     background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
     background: -o-linear-gradient(top, #fff 0%, #fff 100%);
     background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
     background: linear-gradient(top, #fff 0%, #fff 100%);
 }
 .compact-theme a:hover {
     text-decoration: none;
     background: #fff !important;
     color: #3c8dee;
     background: -moz-linear-gradient(top, #fff 0%, #fff 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
     background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
     background: -o-linear-gradient(top, #fff 0%, #fff 100%);
     background: -ms-linear-gradient(top, #fff 0%, #fff 100%);
     background: linear-gradient(top, #fff 0%, #fff 100%);
 }
 .simple-pagination li {
     margin-left: -1px !important;
 }
 .table-bordered {
     border-color: #d1d1d1 ;
     border-bottom: 1px solid #d1d1d1;
     border-top: 1px solid #d1d1d1;
     border-right: 1px solid #fff !important;
     border-left: 1px solid #fff !important;
 }
 .box-body .table{

 }
 /*--------------------------*/
 .main-footer {
     background: #E9E9E9 !important;
     padding: 15px 22px;
     border-top: 0px solid #d2d6de !important;
 }
