
#zoneBienLaiHoaDon {
    padding-left: 20%
}
.btnChiTietKhoanThu, .btnChiTietKhoanThu, .actionThuTien_PhieuThu, .actionKhoiDongHoaDon, .anouChuaHoTro_PhieuThu{
    cursor: pointer;
}

.trangthaiHS {
    width: 100px;
    border-radius: 0px;
    margin-top: -1px
}
.lbsymbolHD {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}