<?xml version="1.0"?>
<ChannelConfigurations>
  <Channel namespace="PortalQLDT" secretKey="123456aA@QLDT">
    <connectionStrings>

      <!--Data Source=data;Unicode=True;User ID=duandhytcc_camxoa;Password=iu;-->
      <!--<add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjh8M+h4a99s/EcYaTsRO8WekeO+exy1fN8R3BPP3BTGjYqvYwCQoclIXHHtT2RQPHo64avj935Y1ytBSlnsN2mPc=" />-->

      <!--Data Source=data;Unicode=True;User ID=duandhytcc_Camxoa_run;Password=apis1234;-->
      <!--<add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjh8M+h4a99s/EcYaTsRO8WekeO+exy1fN8R3BPP3BTGjY0nQItqSBGEdGluH1qgLI73RAQ83ZLg65oeAbSgz2yWA=" />-->

      <!--Data Source=data;Unicode=True;User ID=iuwebthuyloi;Password=iu;-->
      <!--<add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjh8M+h4a99s/EcYaTsRO8Wek2IrXElFuOZdd+m5MsR0MDDRSMohrd8eFGz0BVN8gIAw==" />-->

      <!--Data Source=data;Unicode=True;User ID=trienkhaikcntttn;Password=apis;-->
      <add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjh8M+h4a99s/EcYaTsRO8Wenm4ub9m4EbvVl3bZugKFUMAJbyKQrvuhd0DhNa/tMCbAWRm2e0b40oGJHsoClg0+8=" />

      <!--Data Source=data;Unicode=True;User ID=iuwebktqd_new;Password=iu;-->
      <!--<add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjh8M+h4a99s/EcYaTsRO8WekIiB+AryMqRt6O51i6Jp8k7HTgeu4neNs/3E2ef/GTF2f5ndi7hAebaTAVKSISwz0=" />-->

      <!--Data Source=data_vyh;Unicode=True;User IDcụ Tú=qtdhvdhyhn;Password=apis1234;-->
      <!--<add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjhwlhy2AsRfamZnvF8QCgPkQzM5+6/mqce3RHDUf9LAUvpgsWX+XpZwDl/A6fJhBd1718laDxe1W4Uu5x0lL7dQw=" />-->

      <!--Data Source=data;Unicode=True;User ID=qtdh;Password=apis1234;-->
      <!--<add name="OraMainDb" connectionString="WKmuWaFHlzl6NiUJywvjh8M+h4a99s/EcYaTsRO8Wenm4ub9m4EbvVl3bZugKFUMAJbyKQrvuhd0DhNa/tMCbAWRm2e0b40oGJHsoClg0+8=" />-->


    </connectionStrings>
    <appSettings>
      <add key="Hello" value="1" />
    </appSettings>
  </Channel>
</ChannelConfigurations>


