.progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px ;
    background-color: #ddd;
    top: -25px;
    left: -50%;
}
.progressbar {
    counter-reset: step;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: 50px;
}
.progressbar li{
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align:center;
    margin-bottom: 10px;
}
.progressbar li:before {
    position: absolute;
    content: counter(step);
    counter-increment: step;
    color: white;
    font-size: 22px;
    top: -10px;
    width: 43px;
    height: 43px;
    line-height: 40px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: -35px auto 10px 42%;
    border-radius: 50%;
    background-color: #dbdbdb;
    z-index: 1;
}
.progressbar li a {
    margin-top: 30px;
}
.progressbar li:first-child:after{
    content: none;
}
.progressbar li.active{
    overflow: visible;
    color: #336699;
}
.progressbar li.active:before{
    overflow: visible;
    border-color: #336699;
    background-color:#336699;
}
.progressbar li.active + li::after{
    overflow: no-content;
    overflow: no-display;
    background-color: #336699;
}