.min-w-auto {
  min-width: auto !important;
}

/* button */

a.btn {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.btn {
  height: 38px;
  /* min-width: 146px; */
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 9px 15px 7.6px 15px !important;
  font-size: 14px !important;
}

.btn-link {
  border: 1px solid var(--color-link);
  background: var(--color-link);
  color: #fff;
  text-decoration: none;
}

.btn-view {
  border: 1px solid var(--color-link);
  background: var(--color-link);
  color: #fff;
}

.btn-edit {
  border: 1px solid var(--color-orange);
  background: var(--color-orange);
  color: #fff;
}

.btn-delete,
.btn-delete:hover {
  border: 1px solid var(--color-delete) !important;
  background: var(--color-delete) !important;
  color: #fff;
}

.btn-outline-delete {
  border: 1px solid;
  background: #ffffff;
  color: var(--color-delete);
}

.btn-outline-main {
  border: 1px solid;
  background: #ffffff;
  color: var(--color-main);
}

.btn-add,
.btn-add:hover {
  border: 1px solid var(--color-link);
  background: var(--color-link);
  color: #fff;
}

.btn-outline-add {
  border: solid 1px;
  color: var(--color-add);
  background: #fff;
}

.btn-save {
  border: 1px solid var(--color-save);
  background: var(--color-save);
  color: #fff;
}

.btn-save:hover {
  border: 1px solid var(--color-save) !important;
  background: var(--color-save) !important;
}

.btn-outline-save {
  border: solid 1px;
  color: var(--color-save);
  background: #fff;
}

.btn-upload {
  border: 1px solid var(--color-upload);
  background: var(--color-upload);
  color: #fff;
}

.btn-white {
  background: #fff;
  border: 1px solid #e1e1e1;
  color: var(--color-main);
}

.btn-main {
  background: var(--color-main);
  border: 1px solid var(--color-main);
  color: #fff;
}

.btn-opacity {
  opacity: 0.5;
}

.btn-save.btn-opacity:hover,
.btn-delete.btn-opacity:hover,
.btn-add.btn-opacity:hover {
  opacity: 1;
}

.btn-outline-link {
  border-color: var(--color-link);
  color: var(--color-link);
}

.btn:hover,
.btn:focus-visible {
  background: var(--color-link);
  color: #fff;
}

.btn-sm {
  height: 30px;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 4px;
}

.btn-h30 {
  height: 30px;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 4px;
}

.text-main {
  color: var(--color-main);
}

.text-orange {
  color: var(--color-orange) !important;
}

.text-yellow {
  color: var(--color-yellow);
}

.text-puple {
  color: var(--color-puple);
}

.text-red {
  color: var(--color-red) !important;
}

.bg-red {
  background: var(--color-red) !important;
}

.text-66 {
  color: #666666;
}

.text-88 {
  color: #888888;
}

.text-text {
  color: var(--color-text) !important;
}

.text-gray {
  color: var(--color-text-gray);
}

.text-green {
  color: var(--color-green);
}

.text-link {
  color: var(--color-link) !important;
}

.text-add {
  color: var(--color-add) !important;
}

.text-save {
  color: var(--color-save) !important;
}

.text-upload {
  color: var(--color-upload) !important;
}

.text-dask-link {
  color: var(--color-dask-link) !important;
}

.bg-dask-link {
  background: var(--color-dask-link) !important;
}

.bg-nv {
  background: var(--color-nv) !important;
}

.text-nv {
  color: var(--color-nv) !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.btn-outline-secondary {
  border-color: #d1d1d1;
  color: #666666;
}

.form-control {
  height: 38px;
  border-radius: 4px;
  border-color: var(--color-border);
  font-size: 14px;
}

textarea.form-control {
  height: auto;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-control-sm {
  height: 28px;
  min-height: 28px;
}

.checkbox .checkmark {
  background: #fff;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 3px;
  border: solid 1px var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox.checkbox-circle .checkmark {
  border-radius: 100%;
}

.checkbox .checkmark i {
  font-size: 11px;
  color: transparent;
}

.checkbox input {
  display: none;
}

.checkbox input:checked~.checkmark {
  background: var(--color-link);
  border: none;
}

.checkbox input:checked~.checkmark i {
  display: block;
  color: #fff;
}

.checkbox-green input:checked~.checkmark {
  background: #28a745;
}

.checkbox-outline-white .checkmark {
  background-color: transparent;
}

.checkbox-outline-white input:checked~.checkmark {
  background: #fff;
}

.checkbox-outline-white input:checked~.checkmark i {
  color: var(--color-link);
}

.line-1 {
  height: 1px;
  width: 100%;
  background: var(--color-border);
}

.checkbox-outline .checkmark {
  background: transparent;
}

.colour-picker-field img {
  display: none;
}

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-style: 500px;
  color: #222222;
}

.custom-select i {
  font-size: 13px;
  position: absolute;
  right: 10px;
  color: var(--color-border);
  transition: all 0.3s;
}

.custom-select i.icon-toggle {
  transform: rotate(180deg);
}

/* custom select */

.custom-select select {
  /* display: none; */
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-selected {
  border: solid 1px;
  height: 38px;
  border-radius: 4px;
  border-color: var(--color-border);
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  width: 100%;
  line-height: 15px;
}

.select-items div {
  height: 38px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.select-items {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 4px;
  overflow: hidden;
  border: solid 1px var(--color-border);
  width: fit-content;
  min-width: 100%;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items .same-as-selected,
.select-items .same-as-selected:hover {
  background-color: var(--color-main);
  color: #fff;
}

.custom-select.custom-select-sm .select-selected,
.custom-select.custom-select-sm .select-items div {
  height: 28px;
  white-space: nowrap;
}

/* feature box */

.feature-box[data-bg="1"] {
  background-image: linear-gradient(to top right, #29c6d5, #4c84ff);
}

.feature-box[data-bg="2"] {
  background-image: linear-gradient(to top right, #fbb03b, #d4145a);
}

.feature-box[data-bg="3"] {
  background-image: linear-gradient(to top right, #fcee21, #009245);
}

.feature-box[data-bg="4"] {
  background-image: linear-gradient(to top right, #40e0fc, #00839a);
}

.feature-box[data-bg="5"] {
  background-image: linear-gradient(to top right, #ffe98a, #d74277);
}

.feature-box[data-bg="6"] {
  background-image: linear-gradient(to top right, #f783ee, #757cfe);
}

.feature-box[data-bg="7"] {
  background-image: linear-gradient(to top right, #43eeac, #09b0e7);
}

.feature-box[data-bg="8"] {
  background-image: linear-gradient(to top right, #ff978a, #fe6db8);
}

.feature-box[data-bg="9"] {
  background-image: linear-gradient(to top right, #757cfe, #a2abf8);
}

.feature-box[data-bg="10"] {
  background-image: linear-gradient(to top right, #19c80f, #63fa87);
}

/* width */

.min-w-60p {
  min-width: 60px;
}

.min-w-65p {
  min-width: 65px;
}

.min-w-70p {
  min-width: 70px;
}

.min-w-85p {
  min-width: 85px;
}

.min-w-90p {
  min-width: 90px;
}

.min-w-95p {
  min-width: 95px;
}

.min-w-100p {
  min-width: 100px;
}

.min-w-110p {
  min-width: 110px;
}

.min-w-120p {
  min-width: 120px;
}

.min-w-130p {
  min-width: 130px;
}

.min-w-135p {
  min-width: 135px;
}

.min-w-150p {
  min-width: 150px;
}

.min-w-170p {
  min-width: 170px;
}

.min-w-185p {
  min-width: 185px;
}

.min-w-200p {
  min-width: 200px;
}

.min-w-210p {
  min-width: 210px;
}

.min-w-250p {
  min-width: 250px;
}

.min-w-270p {
  min-width: 270px;
}

.min-w-300p {
  min-width: 300px;
}

.w-20p {
  width: 20px;
}

.w-75p {
  width: 75px;
}

.w-80p {
  width: 80px;
}

.w-100p {
  width: 100px;
}

.w-105p {
  width: 105px;
}

.w-110p {
  width: 110px;
}

.w-170p {
  width: 170px;
}

.w-185p {
  width: 185px;
}

.w-200p {
  width: 200px;
}

.w-450p {
  width: 450px;
}

.max-w-200p {
  max-width: 200px;
}

.max-w-300p {
  max-width: 300px;
}

.w-135p {
  width: 135px;
}

.w-195p {
  width: 195px;
}

/* height */

.min-h-28p {
  min-height: 28px;
}

.min-h-42p {
  min-height: 42px;
}

.border-left-1 {
  border-left-width: 1px !important;
}

.border-top-1 {
  border-top-width: 1px !important;
}

.modal-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-header-wrap .title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-main);
}

.modal-header-wrap .btn {
  width: 30px;
  height: 30px;
  min-width: auto;
  font-size: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}

.modal-header-wrap .btn i {
  margin: 0;
}

.modal-header-wrap .btn:hover {
  color: #fff;
}

.modal-680 {
  max-width: 680px !important;
}

.modal-800 {
  max-width: 800px !important;
}

.modal-1140 {
  max-width: 1140px !important;
}

.modal-1200 {
  max-width: 1200px !important;
}

.modal-1400 {
  max-width: 1400px !important;
}

.modal-1800 {
  max-width: 1800px !important;
}

.link-base {
  color: var(--color-link);
}

.bg-main {
  background: var(--color-bg-main);
}

.bg-green {
  background: var(--color-green) !important;
}

.bg-add {
  background: var(--color-add) !important;
}

.bg-link {
  background: var(--color-link) !important;
}

.bg-save {
  background: var(--color-save) !important;
}

.bg-light-sky {
  background: var(--color-bg-light-sky) !important;
}

.gradient-1 {
  background-image: linear-gradient(to top right, #d4145a, #fbb03b);
}

.bottom-radius-none {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.top-radius-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.border-solid {
  border-style: solid;
}

.truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.sticky-right {
  position: sticky;
  right: 0;
}

.filter-5-item {
  display: flex;
  flex: 1;
  margin: 0 -8px;
}

.select2 {
  width: 100% !important;
  font-size: 14px;
}

.select2 button {
  border: none;
  background: transparent;
}

.select2-container--default .select2-selection--multiple {
  min-height: 38px;
  border-radius: 4px;
  border-color: var(--color-border);
  font-size: 14px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  min-height: 38px;
  border-radius: 4px;
  border-color: var(--color-link);
  font-size: 14px;
}

.select2-dropdown {
  z-index: 9999;
}

.select2-search {
  display: none;
}

.filter-5-item .filter-item {
  width: 20%;
  margin-top: 15px;
  padding: 0 8px;
}

.text-edit {
  color: var(--color-edit);
}

.lh-20 {
  line-height: 20px;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.bg-f1 {
  background: #f1f1f1;
}

.flex-1 {
  flex: 1;
}

.h-100p {
  height: 100px;
}

.rounded-full {
  border-radius: 100%;
}

/* ------------------- */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-8 {
  margin-bottom: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pl0,.pl-0 {
  padding-left: 0 !important;
}

.pd0,.pd-0 {
  padding: 0 !important;
}

.pd5,.pd-5 {
  padding: 5px !important;
}

.pd10,.pd-10 {
  padding: 10px !important;
}

.pd15,.pd-15 {
  padding: 15px !important;
}

.pd20,.pd-20 {
  padding: 20px !important;
}

.pd30,.pd-30 {
  padding: 30px !important;
}

.pd40,.pd-40 {
  padding: 40px !important;
}

.pt0,.pt-0 {
  padding-top: 0 !important;
}

.pt5,.pt-5 {
  padding-top: 5px !important;
}

.pt10,.pt-10 {
  padding-top: 10px !important;
}

.pt15,.pt-15 {
  padding-top: 15px !important;
}

.pt20,.pt-20 {
  padding-top: 20px !important;
}

.pt25,.pt-25 {
  padding-top: 25px !important;
}

.pl0,.pl-0 {
  padding-left: 0 !important;
}

.pl5,.pl-5 {
  padding-left: 5px !important;
}

.pl10,.pl-10 {
  padding-left: 10px !important;
}

.pl15,.pl-15 {
  padding-left: 15px !important;
}

.pl20,.pl-20 {
  padding-left: 20px !important;
}

.pl30,.pl-30 {
  padding-left: 30px !important;
}

.pr0,.pr-0 {
  padding-right: 0 !important;
}

.pr5,.pr-5 {
  padding-right: 5px !important;
}

.pr10,.pr-10 {
  padding-right: 10px !important;
}

.pr15,.pr-15 {
  padding-right: 15px !important;
}

.pr20,.pr-20 {
  padding-right: 20px !important;
}

.pb0,.pb-0 {
  padding-bottom: 0 !important;
}

.pb5,.pb-0 {
  padding-bottom: 5px !important;
}

.pb10,.pb-10 {
  padding-bottom: 10px !important;
}

.pb15,.pb-15 {
  padding-bottom: 15px !important;
}

.pb20,.pb-20 {
  padding-bottom: 20px !important;
}

.pt5,.pt-5 {
  padding-top: 5px !important;
}

.pt10,.pt-10 {
  padding-top: 10px !important;
}

.pt15,.pt-15 {
  padding-top: 15px !important;
}

.pt20,.pt-20 {
  padding-top: 20px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.right-0 {
  right: 0 !important;
}

/* ------------------- */
.text-right {
  text-align: right;
}
.color-fff {
  color: #fff !important;
}

.ml-10 {
  margin-left: 10px;
}

.pd15 {
  padding: 15px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.mb0,.mb-0 {
  margin-bottom: 0 !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.text-right {
  text-align: right;
}

.zone-action {
  padding-top: 0 !important;
  display: flow-root;
}

.f16 {
  font-size: 16px;
}

.top-0 {
  top: 0 !important
}

.right-0 {
  right: 0 !important;
}