:root {
  --color-bg-main: #f5f6f8;
  /* Chính (Primary) */
  --color-main: #14375f;
  --color-blue: #0d6efd !important;
  --color-link: #2563EB !important;
  --color-link-hover: #1D4ED8 !important;
  --color-dask-link: #2262ab;

  /* Thành công (Success) */
  --color-green: #198754 !important;
  --color-green1: #0a6139 !important;
  --color-green-hover: #157347;
  --color-save: #22C55E;
  --color-upload: #28A745;

  /* Nguy hiểm/Xóa (Danger) */
  --color-red: #FF0000 !important;
  --color-red-hover: #e00202 !important;
  --color-orange: #d54b07 !important;
  --color-orange-hover: #ff4500;
  --color-nv: #d4145a;
  --color-delete: #df322b;


  /* Thông tin (Info) */
  --color-warning: #ffc107 !important;

  /* Thông tin (Info) */
  --color-info: #31d2f2 !important;

  /* color-border */
  --color-border: #d1d1d1;

  /* color-text */
  --color-text-gray: #565656;
  --color-text: #222222;
  --color-text-3: #333333;
  --color-text-3-80: rgba(51, 51, 51, 0.8);

  /* color-bg */
  --color-bg-light-sky: #edf1fb;

  /* Khác */
  --color-yellow: #ffe600 !important;
  --color-white: #ffffff;
  --color-puple: #9f22d6;
  --color-add: #6610f2;
  --color-view: #8601af;
  --color-edit: #ffb400;
  --color-pink: #ff0081 !important;
  --color-purple: #e300ff !important;
}

/* Chưa truy cập */
a:link {
  color: #2563EB;
  /* Xanh dương */
}

/* Đã truy cập */
a:visited {
  color: var(--color-puple);
  /* Tím */
}

/* Di chuột vào */
a:hover {
  color: var(--color-link-hover);
  /* Cam */
  text-decoration: underline;
}

/* Đang nhấn */
a:active {
  color: var(--color-orange);
  /* Đỏ */
}