@import "../bootstrap-5.3.2/css/bootstrap.min.css";
@import "../swiper-slide/swiper-bundle.min.css";
@import "../select2/css/select2.min.css";
@import "fontawesome-6.css";
@import "root.css";
@import "spacing.css";
@import "config.css";
@import "fonts.css";
@import "calendar.css";
@import "tai-chinh.css";
@import "news.css";

/* css cổng cũ */
@import "all.css";
@import "1cuaSV.css";
@import "gochoctap.css";
@import "awesome-5.min.css";
@import "slick.css";
@import "select-2-custom.css";
@import "all.css";
@import "login.css";
@import "1cuaSV.css";
@import "register-school.css";
@import "gochoctap.css";
@import "tai-chinh.css";
@import "ketquadangky.css";
@import "study-program.css";
@import "dangkyhoc-nguyenvong.css";
@import "DanhSachMonDangKyHoc.css";
@import "ld.css";
@import "responsive-old.css";

/* css chính */
@import "main.css";
@import "responsive.css";
