@import url(./../fonts/FontAwesome.Pro.6.4.2/css/all.css);
@import url(./../Custom_V1/styles.css);
@import url(./../Custom_V1/styles-content.css);
@import url(./../Custom_V1/styles-responsive.css);
/* --------------------- */
body {
    font-family:Arial, Helvetica, sans-serif;
}

.login-page, .register-page {
    background: #fff;
}

.login-box, .register-box {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px grey;
    background: #fff;
    margin: 7% auto !important;
}

.login-logo {
    border-bottom: 1px solid #eee !important;
    padding: 20px;
    margin-bottom: 0px;
}

.login-box-msg {
    color: #3c8dbc;
}

.login-box-footer {
    width: 100%;
    padding: 20px;
}

.btn-primary {
    background-color: #3c8dee;
    border-radius: 5px !important;
    border: none !important;
}

.has-feedback .form-control {
    border: none;
    border-bottom: 1px solid #f1f1f1;
}

.form-control {
    padding: 0px !important;
    height: 30px;
}

.icon-login {
    background: #3c8dee;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 7px
}

.title-login {
    color: #3c8dee;
    border-bottom: 1px solid #3c8dee;
    margin-left: -7px;
    padding-left: 5px
}

.box-notify {
    padding: 10px
}

.italic {
    font-style: italic;
}
/*default*/
.user-icon-bg {
    color: #f7f7f7;
}

.user-discription {
    color: #808080;
    font-style: italic;
}

.say-hello {
    padding: 10px;
    font-size: 25px !important;
    text-align: center;
}

.say-hello a {
    color: #3c8dee !important;
}

.btn-user {
    color: #808080;
}

.btn-user:hover {
    background: #f1f1f1;
    padding: 3px;
    clear: both;
}

.center {
    text-align: center;
    font-size: 19px;
}

.control-sidebar-app {
    padding: 5px;
}

.control-sidebar-light, .control-sidebar-light + .control-sidebar-bg {
    background: #fff !important;
    border-left: 1px solid #f1f1f1 !important;
}

.fa-app {
    font-size: 25px;
}

.search-app {
    padding: 5px;
    background: #f1f1f1
}

    .search-app > input {
        border: none;
    }

.user-icon {
    background: #f1f1f1;
    border-radius: 50%;
}

tbody tr:first-child td {
    border-top: none !important;
}

.control-sidebar-app > table > tbody > tr > td > .input-group > .form-control {
    background: #f1f1f1;
    border: none;
    border-radius: 2px;
}

.input-group > .btn {
    padding: 3.2px 10px !important;
}

.a-underline {
    border-bottom: 1px solid #f1f1f1;
    margin-left: -10px
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    min-height: initial !important;
    max-height: initial !important;
}

.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    min-width: 380px !important;
}
