/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1920px) {
    .box-ThongTinHSSV .nav-tabs-custom>.nav-tabs>li {
        max-width: 135px;
        text-align: center;
        height: 68px;
    }

    .box-ThongTinHSSV .nav-tabs-custom>.nav-tabs>li>a {
        height: 66px;
    }
}

@media only screen and (max-width: 1400px) {

    .aps-thanhtoan-naptien .col-sm-3,
    .aps-tinnhanthongthong-l .col-sm-3,
    .col-sm-3.aps-tinnhandiem-l,
    .aps-RenLuyen-danhmuc-l {
        width: 100%;
        margin-bottom: 20px !important;
    }

    .aps-thanhtoan-naptien .zone-cat-9.col-sm-9,
    .aps-tinnhanthongthong-r.pl20,
    .aps-tinnhandiem-r.pl20,
    .aps-RenLuyen-danhmuc-r {
        width: 100%;
        padding-left: 0 !important;
    }

    .col-lg-3.checkbox-inline {
        padding-left: 40px;
    }

}

@media only screen and (max-width: 1200px) {
    .box-header .pull-right {
        position: relative;
    }

    .bo .aps-danhmucDL-l,
    .aps-danhmucDL-r {
        width: 100%;
        margin-bottom: 20px !important;
    }

    .aps-danhmucDL-r,
    .aps-khaibaothanhphandiemapdung-r.pl20 {
        padding-left: 0 !important;
    }

    .zone-bus .bss-item .item-search {
        width: 33.333333%;
    }

    .zone-bus .bss-item .item-search:last-child {
        width: 66.666667%;
    }

    .asp-dangky-dv-tab .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .asp-dangky-dv-tab .nav-tabs li:nth-child(3) {
        margin-left: auto;
    }
}

@media only screen and (min-width: 1200px) {

    .aps-ds-tuibai .tblTuiBai,
    .aps-ds-thivd .tblThi {
        min-width: 2000px;
    }
}

@media (min-width: 1024px) and (max-width:1200px) {

    aps-ds-tuibai .tblTuiBai,
    .aps-ds-thivd .tblThi {
        min-width: 1200px;
    }
}

@media (max-width: 990px) {
    .modal-body {
        padding: 20px 15px !important;
    }

    .my-calendar .modal-dialog {
        width: 96% !important;
        min-width: 96% !important;
    }

    .modal-nhapdiem .scroll-table-x table {
        min-width: 1000px;
    }
}

@media (max-width: 820px) {}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .box-nhapdiemchamkiemtra .col-lg-7 {
        padding-right: 0 !important;
    }

    .my-calendar.modal_XacNhan .aps-form-lable {
        display: none !important;
    }

    .khoa-sldl-xn {
        padding-right: 0 !important;
    }

    /*----------------start----------------------*/
    .box-header>.box-tools {
        position: relative;
        right: 10px;
        top: 0px;
    }

    .box-header>.box-tools a {
        margin-top: 10px;
    }

    .box-search .box-body .row {
        flex-wrap: wrap;
    }

    .item-search .btn-search#btnSearchSinhVien,
    .item-search #zonebtnBaoCao_DangKyHoc_Import {
        width: auto !important;
    }

    .col-lg-3.checkbox-inline.user-check-print {

        padding-left: 40px;
    }

    .col-sm-3.item-search.d-flex.gap {
        flex-direction: column;
    }

    .scroll-table-x {
        overflow-x: auto;
    }



    .aps-box-table .nav-tabs-custom>.nav-tabs {
        margin-left: 0 !important;
        width: 100%;
        padding-left: 0;
        padding-bottom: 20px;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 9px;
    }

    .aps-box-table .nav-tabs-custom>.nav-tabs>li.active>a {

        border-radius: 6px;
    }

    .aps-box-table .nav-tabs-custom>.nav-tabs>li.pull-right {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .aps-box-table .nav-tabs-custom>.nav-tabs>li.pull-right~li.pull-right {
        margin-left: 0 !important;
    }

    /*.........................................*/
    .content-wrapper,
    .main-footer {
        margin-left: 0px !important;
    }

    .main-sidebar {
        -webkit-transform: translate(-280px, 0) !important;
        -ms-transform: translate(-280px, 0) !important;
        -o-transform: translate(-280px, 0) !important;
        transform: translate(-280px, 0) !important;
    }

    .sidebar-open .main-sidebar {
        transform: translate(0, 0) !important;
    }

    .aps-taichinh-r {
        padding-left: 0 !important;
        margin-top: 15px !important;
    }
}



@media only screen and (max-width: 600px) {

    .aps-ds-tuibai .tblTuiBai,
    .aps-ds-thivd .tblThi {
        min-width: 900px !important;
    }

    .aps-khoiluongcanhan .klcn-info {
        padding-right: 0 !important;
    }

    .aps-khoiluongcanhan .klcn-info .item {
        margin-right: 0 !important;
        width: 100% !important;
    }

    .aps-form-search {
        display: block !important;
    }

    .aps-form-search .form-add-info {
        margin-bottom: 10px;
    }

    .modalPheDuyet .aps-form label,
    .modalPheDuyet2 .aps-form label {
        display: none;
    }

    .aps-lichgiangkhoa .calendar-time .date-input,
    .apslichgiangdaotao .calendar-time .date-input {
        padding-left: 0 !important;
    }

    .mymodal_NhapChuyenCan.modal.modal-spec .table thead th:last-child(1),
    .mymodal_NhapChuyenCan.modal.modal-spec .table thead th:last-child(2),
    .mymodal_NhapChuyenCan.modal.modal-spec .table thead th:last-child(3) {
        min-width: 90px !important;
    }

    .tblNhapChuyenCan tr td .inputChuyenCan {
        float: left !important;
        margin-left: 20px !important;
    }

    .calendar-modal-meta .item {
        padding-left: 0 !important;
    }

    .finance-user-info .form-item.form-add-info {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .scroll-table-x .tblNguoiHoc {
        min-width: 680px;
    }

    .dkcn_diem .nav-item {
        width: 49% !important;
    }

    .study-program-detail .scroll-table-x .tblHocPhan_PhanBo {
        min-width: 100%;
    }

    .myModal_KetQuaDangKy.modal .modal-header {
        min-height: auto !important;
    }

    .myModal_KetQuaDangKy .form-item.form-add-info {
        margin-left: 0px;
    }

    .myModal_KetQuaDangKy .scroll-table-x table {
        min-width: 860px !important;
    }

    .my-calendar.modal_XacNhan .modal-860 {
        max-width: 100% !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .my-calendar.modal_XacNhan .change-calendar .form-item.form-add-info {
        width: 100% !important;
    }

    .khoa-sldl-left {
        display: block !important;
        width: 62% !important;
    }

    .my-calendar.modal_XacNhan .change-calendar .col-md-2.col-lg-2 {
        width: 38% !important;
    }

    .my-calendar.modal_XacNhan .aps-form-table {
        display: none;
    }

    .aps-nhapdiemphuckhao .form-top .btn-default.btn-search {
        width: 100% !important;
    }

    .register-school-right,
    .register-school-left {}

    .tblSinhVien tr td:nth-child(8),
    .tblSinhVien tr td:nth-child(13),
    .tblSinhVien tr td:nth-child(14),
    .tblSinhVien tr td:nth-child(15),
    .tblSinhVien tr td:nth-child(n+15) {
        text-align: center !important;
    }

    .scroll-table-x .tblHocPhanChuaQua,
    .tblLop_KetQua {
        min-width: 860px !important;
    }

    .aps-chiTiet-taiChinh .form-container-body.pr0.col-sm-6,
    .aps-chiTiet-taiChinh .form-container-body.pl-0.col-sm-6 {
        padding: 0 !important;
    }

    /* 
    .aps-chiTiet-taiChinh .form-container-body.pl-0.col-sm-6 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    } */
    .aps-chiTiet-taiChinh .aps-table-select.scroll-table-x {
        margin-bottom: 15px !important;
    }

    .aps-chiTiet-taiChinh .form-container-body .btn {
        padding: 9px 0 0px 0 !important;
        margin-bottom: 5px !important;
        height: 30px !important;
    }

    .register-school.study-program .table-title {
        display: block !important;
    }

    .study-program-detail .label-bottom-line span {
        width: 100% !important;
    }

    .aps-tt-hocPhan .col-12.col-md-6:last-child {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .study-program-detail .scroll-table-x table {
        min-width: 600px;
    }

    .register-school.study-program .line {
        display: none !important;
    }

    .modal-860,
    .modal_XacNhan .modal-860 {
        max-width: 100% !important;
    }

    .kqht-modal {
        display: block !important;
    }

    .kqht-modal .left {
        width: 100% !important;
    }

    .kqht-modal .right {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .aps-inbangdiem-detail .aps-btn-list {
        /* display: block !important; */
        margin-top: 10px;
    }

    .aps-inbangdiem-detail .aps-btn-list .btn {
        /* width: 100% !important; */
        height: auto !important;
    }

    .viewchungtu {
        width: 100% !important;
    }

    .zone-bus .bss-item .item-search {
        width: 100%;
    }

    .zone-bus .bss-item .item-search:last-child {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .finance-modal.my-calendar .modal-body .justify-content-between {
        margin-bottom: 10px;
    }

    .khoa-sldl-left {
        width: 100% !important;
    }

    .my-calendar.modal_XacNhan .change-calendar .col-md-2.col-lg-2 {
        width: 100% !important;
        text-align: right;
        padding-left: 0 !important;
    }

    .my-calendar.modal_XacNhan .change-calendar .form-item {
        margin-bottom: 10px;
    }

    .tblTaskBar_TongHopKetQua,
    .tblTaskBar_TongHopKetQua tr td {
        width: 100% !important;
    }

    .tblTaskBar_TongHopKetQua tr td:first-child {
        display: none !important;
    }

    .tblTaskBar_TongHopKetQua tr {
        display: grid !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Large devices (laptops/desktops, 992px and up) */

    #viewThanhPhan .table>thead>tr>th:first-child {
        border-left: 0 solid #e1e1e1 !important;
        /* font-weight: 400; */
    }

    #viewThanhPhan thead tr th {
        font-weight: 400;
    }

    #viewThanhPhan tbody tr td,
    #viewThanhPhan thead tr th {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    #viewThanhPhan .table tr:last-child {
        border-right: 0px solid #d1d1d1 !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width:768px) and (max-width: 992px) {

    .form-top .col-12:nth-child(4),
    .form-top .col-12:nth-child(8),
    .form-top .col-12:nth-child(12) {
        padding-right: 10px !important;
    }

    .form-top .col-12:nth-child(2),
    .form-top .col-12:nth-child(4),
    .form-top .col-12:nth-child(6) {
        padding-right: 0 !important;
    }

    #zone_notify_nhapdiem .form-top .col-12:nth-child(4) {
        padding-right: 10px !important;
    }

    .tblDSDiem {
        min-width: 1860px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

    .aps-chiTiet-taiChinh .form-container-body.pl-0.col-sm-6 {
        padding: 0px 15px 0 0 !important;
    }

    .aps-chiTiet-taiChinh .form-container-body.pr0.col-sm-6 {
        padding: 0 0 0 15px !important;
    }

    .zoneThongTinBoSung .col-lg-3 {
        /*padding-right: 15px;*/
    }

    .aps-chiTiet-taiChinh .aps-table-select .table tfoot tr td {
        border-left: 0 solid #d1d1d1 !important;
        border-right: 0 !important;
        padding: 10px 8px 4px 8px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1680px) {
    .zoneThongTinBoSung .col-lg-3:nth-child(4n) {
        padding-right: 0 !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1900px) and (min-width: 1380px) {
    .viewchungtu {
        width: 25% !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1500px) and (min-width: 1200px) {
    .aps-table-fileimport tr td {
        display: flex;
        height: 38px !important;
    }

    .aps-table-fileimport tr .aps-form-input,
    .aps-table-fileimport tr .aps-form-btn {
        height: 48px !important;
    }

    .aps-table-fileimport tr:first-child td:nth-child(3) {
        display: none;
    }

    .aps-table-fileimport .nav-tabs-custom .nav-tabs li .lang {
        height: 73px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1380px) and (min-width: 1140px) {
    .viewchungtu {
        width: 33.3333% !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1140px) and (min-width: 600px) {
    .viewchungtu {
        width: 50% !important;
    }
}

@media (min-width: 768px) and (max-width:1024px) {

    aps-ds-tuibai .tblTuiBai,
    .aps-ds-thivd .tblThi {
        min-width: 1200px;
    }

    .aps-diemdanh-tudong,
    .aps-diemdanh-thucong {
        display: block !important;
    }

    .aps-nguoihoc .group-2 {
        display: block !important;
    }

    .aps-nguoihoc .group-2 .form-list-input {
        margin-bottom: 10px;
    }

    .aps-nguoihoc .form-top .col-12 {
        padding-right: 0 !important;
    }

    .aps-nguoihoc .group-2 .form-item:last-child {
        margin-right: 0 !important;
    }

    .modal_XacNhan_hoanthanh .action-group .select-group {
        display: block !important;
    }

    .modal_XacNhan_hoanthanh .action-group .select-group .label {
        margin-bottom: 5px;
        text-align: left !important;
    }

    .modal_XacNhan_hoanthanh .select-group:first-child {
        padding-right: 10px !important;
    }

    .modal_XacNhan_hoanthanh .action-group .btnDongYXacNhan {
        margin-top: 24px !important;
    }

    .box-nhapdiemchamkiemtra .aps-form-button {
        padding-left: 10px !important;
    }

    .my-calendar.modal_XacNhan .change-calendar .gv-button-group {
        align-items: flex-start !important;
    }

    .box-nhapdiemchamkiemtra .col-lg-7 {
        padding-right: 0 !important;
    }

    .kqht-modal .right {
        padding-left: 0 !important;
        margin-top: 10px !important;
    }

    .kqht-modal {
        display: block !important;
    }

    .my-calendar.modal_XacNhan .change-calendar .scroll-table-x table {
        min-width: 680px !important;
    }

    .modal-dialog-scrollable .modal-body .col-md-10 {
        width: 80% !important;
    }

    .modal-dialog-scrollable .modal-body .col-md-2 {
        width: 20% !important;
    }

    .aps-nhapdiemphuckhao .form-top .aps-all-button {
        padding-left: 10px !important;
    }

    .aps-chiTiet-taiChinh .table>tfoot>tr>td:first-child,
    .aps-chiTiet-taiChinh .table>tfoot>tr>td {
        border-left: 0px solid #d1d1d1 !important;
        border-right: 0 !important;
    }

    .form-container-body {
        padding: 0px !important;
        width: 100% !important;
    }

    .DSTrangThaiSV_QD .col-lg-2 {
        width: 25% !important;
    }

    .aps-chiTiet-taiChinh .scroll-table-x table {
        min-width: 680px !important;
    }

    .calendar-week-table .date {
        width: 68px !important;
    }

    .hour-row::before {
        width: 105% !important;
    }

    .modal-body {
        padding: 15px !important;
    }

    .modal .modal-dialog {
        padding: 20px;
    }

    .modal-860 {
        width: 100% !important;
    }

    .modal-96,
    .modal-90,
    .finance-modal.study-program-modal .modal-xl,
    .khoikienthucchuyennganh .modal-xl {
        max-width: 98% !important;
        padding: 0 !important;
    }

    .khoikienthucchuyennganh .modal-xl {
        width: 100% !important;
    }

    .zoneLichHoc .register-school-left {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (min-width: 600px) and (max-width:1024px) {

    .modal-860,
    .modal_XacNhan .modal-860 {
        max-width: max-content !important;
    }

    .dkcn_diem .tblBangDiem,
    .dkcn_diem .tblChungChi {
        min-width: 1000px !important;
    }
}

@media (min-width: 600px) and (max-width:767px) {

    .aps-ds-tuibai .tblTuiBai,
    .aps-ds-thivd .tblThi {
        min-width: 900px;
    }

    .aps-diemdanh-tudong .aps-all-button {
        display: block !important;
        width: 100%;
    }

    .aps-diemdanh-tudong .aps-all-button .form-add-info {
        margin-bottom: 10px;
    }

    .modal-1360 {
        max-width: 97% !important;
        min-width: 96% !important;
        margin-left: 0 !important;
    }

    .modal_XacNhan_hoanthanh .action-group .select-group .label {
        text-align: left !important;
    }

    .modal_XacNhan_hoanthanh .action-group .min-w-100p {
        width: 120px !important;
        margin-right: 0 !important;
    }

    .modal_XacNhan_hoanthanh .select-group {
        padding-left: 0px;
    }

    .modal_XacNhan_hoanthanh .select-group:first-child {
        margin-bottom: 10px;
    }
}

@media (min-width: 440px) and (max-width:680px) {}

@media (min-width: 320px) and (max-width:440px) {
    .aps-nguoihoc .form-list-input {
        display: block !important;
        width: 100% !important;
    }

    .aps-nguoihoc .form-list-input .form-item {
        margin-bottom: 10px !important;
    }

    .aps-nguoihoc .form-list-input .form-item:last-child {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 380px) and (max-width:680px) {
    .DSTrangThaiSV_QD .col-12 {
        width: 50%;
    }
}

@media (max-width: 380px) {

    #btnKhoiPhucDiemDanh i,
    #btnDiemDanh i {
        /* display: none !important; */
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        width: 1140px;
    }
}

@media (min-width: 576px) {
    .modal-sm {
        --bs-modal-width: 300px;
    }
}