@media screen and (max-width: 576px) {

}
@media screen and (max-width: 768px) {
    .login-box, .register-box {
        width: 100% !important;

    }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1630px) {

}